{% extends "base.html" %}
{% block title %}Аккаунты пользователей{% endblock %}
{% block content %}
<h2>Все аккаунты</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Роль</th>
        <th>Пароль (хэш)</th>
        <th>Статус</th>
        <th>Действия</th>
        <th>Статьи</th>
        <th>Комментарии</th>
        <th>Лайки/Дизлайки</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.password }}</td>
        <td>
            {% if user.is_banned %}
                <span style="color:red">Забанен</span>
            {% else %}
                <span style="color:green">Активен</span>
            {% endif %}
        </td>
        <td>
            {% if user.role != "sozdatel" %}
                <a href="{{ url_for('ban_user', user_id=user.id) }}" class="btn btn-danger btn-sm">Бан</a>
                <a href="{{ url_for('unban_user', user_id=user.id) }}" class="btn btn-success btn-sm">Разбанить</a>
            {% endif %}
        </td>
        <td>
            {% for post in user.comments %}
                {{ post.title }}<br>
            {% endfor %}
            {% for post in user.posts %}
                {{ post.title }}<br>
            {% endfor %}
        </td>
        <td>
            {% for comment in user.comments %}
                {{ comment.content }}<br>
            {% endfor %}
        </td>
        <td>
            {% set likes = namespace(val=[]) %}
            {% for l in user.support_messages %}
              {% if l.value == "like" %}{{ l.post_id }}<br>{% endif %}
              {% if l.value == "dislike" %}{{ l.post_id }}<br>{% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}